<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{% block title %}
				{{ 'views.layout.bannersadmin'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
			{% endblock %}
		</title>

		{% block stylesheets %}

		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block pre_javascripts %}{% endblock %}
	</head>
	<body {% block body_extras %}{% endblock %}>
		{% block menu %}
		{% endblock %}

		{% block body %}
				{% for type, flashMessages in app.session.flashbag.all() %}
					{% for flashMessage in flashMessages %}
						<div class="alert alert-{{ type }}">
							{{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
						</div>
					{% endfor %}
				{% endfor %}

				{% block page %}
				{% endblock %}
		{% endblock %}
	{% block post_javascripts %}{% endblock %}
	</body>
</html>
